.ListGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .ListGroup {
    flex-direction: column;
    align-items: center;
  }
}
